
<div class="text-center body">
    <div class="card bg-white">
        <div class="card-header">
            
       
            <br>
            <img class="mb-3" src="https://cdn.worldvectorlogo.com/logos/angular-icon.svg" alt="" width="120" height="120">

        </div>
        <div class="card-body">
            <h3>Proyecto Angular</h3>
            <form class="form-signin" [formGroup]="FormularioLogin" (ngSubmit)="login(FormularioLogin.value)">
                <ng-container *ngIf="showMessage">
                    <ng-container *ngIf="isLoading">
                        <div class="alert alert-danger" role="alert">
                            <div class="spinner-border" role="status"></div>
                        </div>
                    </ng-container>
                    <ng-container *ngIf="!isLoading">
                        <div class="alert alert-danger alert-dismissible fade show" role="alert">
                            <strong>ERROR: </strong> {{errormessage}}
                            <button (click)="showMessage=false" type="button" class="close" data-dismiss="alert" aria-label="Close">
                              <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                    </ng-container>
                </ng-container>  
                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                      <span class="input-group-text" id="basic-addon1"><i class="far fa-envelope base-color-text"></i></span>
                    </div>
                    <input formControlName="correo" type="text" class="form-control" placeholder="Correo Electronico" id="correo">
                </div>
                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                      <span class="input-group-text" id="basic-addon1"><i class="fas fa-key base-color-text"></i></span>
                    </div>
                    <input formControlName="password" type="password" class="form-control" placeholder="Clave" id="password">
                </div>
                <button type="submit" class="btn btn-lg text-white btn-block">
                    <i class="fas fa-sign-in-alt"></i>
                    Iniciar Sesión</button>
                    <p class="mt-4 mb-0 text-muted">&copy; 2020 | Angular</p>
            </form>
        </div>
      
    </div>

</div>  


<!--

<ng-container *ngIf="!isLogged; else logueado">
    <h1>Login</h1>
    <label for="correo">Correo: </label>
    <input type="text" id="correo"><br><br>
    <label for="password">Clave: </label>
    <input type="text" id="password"><br><br>
    <button (click)="login()" type="button" class="btn btn-success">Iniciar Sesión</button>
    <ng-container *ngIf="nologin">
        <h2> No se pudo Iniciar sesión </h2>
      </ng-container>
</ng-container>

<ng-template #logueado>
    <h2> Bienvenido {{ _usuario.usuarios.nombre }} </h2>
    <button (click)="isLogged=false; nologin=false">Cerrar Sesión</button>
</ng-template>



-->
